<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flapper News</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">
    <div>
        {{test}}
    </div>
    <div ng-repeat="post in posts | orderBy: '-upvotes'">
        <div ng-show="post.link">
        <span ng-click="incrementUpVotes(post)">^</span>
        <a href="{{post.link}}">{{post.title}}</a>
         - upvotes: {{post.upvotes}}
        </div>
        
    </div>
    <form ng-submit="addPost()">
        <input type="text" placeholder="Title" ng-model="title"><br>
        <input type="text" placeholder = "Link" ng-model="link"><br>
        <input type="submit" value="Post">
    </form>
    <!--<button ng-click="addPost()">Post</button>-->
</body>
</html>